<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" <%= link_to 'Home', products_path, class: 'nav-link active' %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" <%= link_to 'About us', dashboard_about_path, class: 'nav-link' %></a>
  </li>
</ul>
